<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon suite" verbose="1" thread-count="1">
    <test name="Amazon search Nikon">
        <classes>
            <class name="tests.AmazonNikonSearchTest">
                <methods>
                    <include name="scenario"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>